/*
universal classes*/
body {
    background: #fff !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.p-20 {
    padding: 20px;
}


/*custom design classes*/
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-image {
    max-height: 400px;
}

.fixed-nav-section {
    background: #ffffff;
}

.custom-navbar.fixed-nav-section {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.fixed-nav-section .nav li a {
    color: #575757;
}

.fixed-nav-section .navbar-brand {
    color: #575757 !important;
}

.iphone-wrapper {
    position: relative;
    width: 250px;
    height: 450px;
    margin: 50px auto;
}

.screen-carousel {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 225px;
    height: 430px;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1;
}

.screen-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.phone-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background-color: #efefef;
    border: none;
    color: #000;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.arrow-left {
    left: -40px;
}

.arrow-right {
    right: -40px;
}
.store-buttons {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.store-btn {
    display: flex;
    align-items: center;
    background-color: #000;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 8px;
    width: fit-content;
    transition: background 0.3s;
}

.store-btn:hover {
    background-color: #333;
}

.store-logo {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.store-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1;
}

.store-text .small-text {
    font-size: 12px;
    color: #ccc;
}

.store-text .large-text {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.imac-wrapper {
    position: relative;
    width: 450px;
    height: auto;
}

.iframe-content {
    position: absolute;
    top: 11px;
    left: 2px;
    width: 451px;
    height: 268px;
    border: none;
    z-index: 1;
}

.imac-frame {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
    pointer-events: none;
}